.order-summary {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: rgba(238,174,202,1);
    margin: 50px;
    border-radius: 10px;
    padding: 20px;
    min-height: 80px;
    z-index: -1;
  }
  
  p{
    display: flex;
    float: inline-end;
    margin-right: 20px;
  }
  
  .orderno{
      display: flex;
      float: inline-start;
      margin-left: 20px;
  }
  
  
  h3{
    float: inline-start;
    margin: 0;
    padding: 0;
  }
  
  .table-top{
    display: block;
    margin: 2%;
  }
  
  .total{
    float: left;
  }
  
  h1{
    text-align: center;
  }
  
  table {
    width: 95%;
    border-collapse: collapse;
    margin: 2%;
  }
  
  th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  
  tfoot{
    background-color: #f2f2f2;
  }
  
  tfoot h2{
    margin-inline-start: 35px;;
  }
  
  .product-image {
    padding: 0%;
    margin: 0%;
    width: 7vw;
    height: 7vw;
    min-width: 4vw;
    min-height: 4vw;
  }
  
  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 1000px;
    max-height: 600px;;
    overflow-y: scroll;
  }
  
  /* Optional Close Button (if needed) */
  /* Close Button Styles */
  .close-button {
    width: 30px; /* Diameter of the circle */
    height: 30px; /* Diameter of the circle */
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #000; /* Optional border around the circle */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position :absolute;
    margin-left: 970px;
    margin-top: 0%;
  }
  
  .close-button:hover {
    background-color: #938484; /* Changes the circle's background color on hover */
    color: #fff; /* Changes the "X" color on hover */
  }

  @media (max-width: 400px) {
    .order-summary{
      min-height: 130px;
    }
  }
  
  
  
  
  
  
  