.main{
    display: flex;
    background: rgba(148,187,233,1);
    justify-content: space-around;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .product-details-container {
    margin: 5%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: 80%;
    min-width: 90%;
  }
  
  .product-image img {
    display: flex;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    max-height: 500px;
    border-radius: 10px;
  }

  .product-image{
    margin: 5%;
    max-width: 50%;
  }
  
 
  
  .product-info h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    display: flex;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .quantity-controls button {
    display: flex;
    background-color: #006ff7;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  


  .add-to-cart-btn {
    display: flex;
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }

  input{
  flex: 1 1 calc(33% - 40px);
  padding: 10px;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  text-align: center;
  min-width: 70px;
  max-width: 70px;
}


@media (max-width: 400px) {
  .product-details-container {
      flex-direction: column;
      padding: 10px;
      width: auto;
  }
  .product-image{
    margin-top: 0;
    padding-top: 0;
    height: 180px;
    padding: 10px;
  }
}