/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 6px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar thumb color */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 1px solid #f1f1f1; /* Adding a border for separation */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar thumb color on hover */
  }
  

  

  .cart-box {
    pointer-events: auto; /* Ensure pointer events are enabled for the cart */
  }